## Output file for {{resourceType}} "{{name}}"

Outgoing connections:
{{#each outgoing }}
  Path {{this.name}} to {{this.to.resourceType}} "{{this.to.name}}"
    Healthcheck: {{this.healthcheckendpoint}}
{{/each}}
